localStorage

<hr>

  key: token<br>
  value: <span id="token_value"></span>

<hr>

<a href="javascript:void(0)" onclick="set();">set token</a><br>
<a href="javascript:void(0)" onclick="get();">get token</a><br>
<a href="javascript:void(0)" onclick="remove();">remove token</a>

<style>
  html {
    font-size: 200%;
  }
</style>

<script>
    // localstorageにtokenをsetする
    function set() {

        // Javascriptでランダムな文字列を生成する方法
        // https://qiita.com/ryounagaoka/items/4736c225bdd86a74d59c
        var token = Math.random().toString(36).slice(-8);

        // ローカルストレージにtokenを保存
        localStorage.setItem("token", token);

        get();
    }

    // localstorageにtokenをgetして、value欄に表示する
    function get() {
        // ローカルストレージからtokenを取得
        var token = localStorage.getItem("token");

        // token: 欄に取得したtokenを表示
        document.getElementById("token_value").innerText = token;
    }

    // localstorageからtokenを削除する
    function remove() {
        // ローカルストレージからtokenを削除
        localStorage.removeItem("token");

        get();
    }

    window.onload = function () {
        get();
    }

</script>